// @use 'sass:math';
// @use 'sass:map';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500;900&display=swap");
* {
  font-family: "Noto Sans KR", sans-serif;
  .gothic {
    font-family: "Nanum Gothic Coding", monospace;
    font-family: "Noto Sans KR", sans-serif;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR:wght@100;500;900&display=swap");
// @font-face {
//     font-family: 'Noto Sans KR';
//     src:url('./fonts/noto-sans-kr.ttf') format('woff'),
//         url('./fonts/noto-sans-kr.ttf') format('woff2');
//     /* 이런식으로 weight를 지정해서 사용할 수도 있다!*/
//     font-weight: 400;
// }
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  width: 100%;
  height: 100%;
}
.el-header {
  padding: 0px !important;
}
.el-main {
  --el-main-padding: 0px !important;
  display: flex;
  flex: 1;
  flex-basis: auto;
  overflow: auto;
  box-sizing: border-box;
  padding: var(--el-main-padding);
  min-height: 100%;
  justify-content: center;
  align-content: center;
}

.el-menu--horizontal > .el-menu-item.is-active {
  border-bottom: none;
  color: none;
}
.flex-grow {
  flex-grow: 1;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color

// if you want to import all
// @use "element-plus/theme-chalk/src/index.scss" as *;

// You can comment it to hide debug info.
// @debug $--colors;

// custom dark variables
// @use "./dark.scss";
